@charset "UTF-8";


@import url('https://fonts.googleapis.com/css2?family=Amatic+SC&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Amatic+SC&family=Homemade+Apple&family=Pacifico&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Belleza&display=swap');

:root {
    
    --primary: #008977c3;
    --secondary: #f2eaea;
    --text-color: white;

}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

body {
    width: 100%;
    height: 100vh;
    
}


header {
    max-width: 1680px;
    width: 100%;
    height: 100px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-color: var(--primary);
    position: absolute;
    left: 0;
    right: 0;
    z-index: 99;

}

header .menu {
    display: flex;
}

header .logo img {
    width: 120px;
    margin: 0 60px -3px;
}

header .menu ul{
    display: flex;
   padding: 0 150px;

}


header .menu ul li {
    list-style: none;
    padding: 0 30px;
}


header .menu ul li a {
    font-family: 'Amatic SC', cursive;
    font-weight: bolder;
    text-decoration: none;
    font-size: 1.3rem;
    color: white;
    transition: all 0.3s;
    
}

header .menu ul li a:hover {
    color: rgba(0, 0, 0, 0.525);
    text-decoration: underline;

}

header .menu-mobile{
  display: none;
}
header .btn{
  display: none;
}



/*.....SECTION .......*/
section.container {
    max-width: 1680px;
    width: 100%;
    height: 90vh;
    margin: 0 auto;
}


/* ....... HOME ......... */

#home .container {
  background: url(imagens/bg3.jpg) no-repeat;
  background-size: cover;
 
  
}

#home .container .content {
    width: 60%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding: 0 70px;
    
}



#home .container .content h1 {
    font-family: 'Bebas Neue', cursive;
    font-size: 2.5rem;
    font-weight: 600;
    letter-spacing: 10px;
    margin-top: 200px;
    margin-bottom: 40px;
    margin-left: 50px;
    color: #302725;
}


#home .container .content p {
    font-family: 'Belleza', sans-serif;
    font-size: 1.3rem;
    color: #737373;
    margin-bottom: 120px;
    margin-top: 40px;
    margin-left: 50px;
}

#home .container .content span {
    font-size: 2.5rem;
    font-family: 'Bebas Neue', cursive;
    color: #302725;
    letter-spacing: 5px;
    margin-left: 50px;
    

}


#home .container .content .button {
    margin-top: 1px;
    margin-left: 50px;
}

#home .container .content .button button {
    padding: 10px 20px;
    border: none;
    background: #b48c56;
    color: #f0f8ff;
    font-family: 'Belleza', sans-serif;
    font-size: 1.2rem;
    cursor: pointer;
    transition: all 0.5s ease;
    
}

#home .container .content .button button:hover{
    transform: scale(1.1);
}
#home .container .content button.btn2{
    background: #302725;
    padding: 15px 20px;
    position: relative;
    right: 5px;
}




/* ....... BRANCH ......... */

#branch .container{
  background: url(imagens/bg3.png) no-repeat;
  background-size: 100% 100%;
}

#branch .container .title{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding-top: 60px;
}

#branch .container .title .line {
  width:  200px;
  height: 2px;
  background: #b48c56;
}

#branch .container .title h1{

  font-family: 'Bebas Neue', cursive;
  font-size: 2rem;
  font-weight: 200;
  text-transform: uppercase;
  letter-spacing: 15px;
  margin-top: 5px;
  

}


#branch .container .content {
  width: 100%;
  height: 90vh;
  display: flex;
  justify-content: space-evenly;
}


#branch .container .content .box {
  width: 25%;
  height: 80vh;
  background: rgba(255, 255, 255, 0.5);
  border-radius: 20px;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.7);
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin-top: 60px;
  transition: 0.3s;
}

#branch .container .content .box h3 {
  margin-top: 20px;
  margin-bottom: 60px;
  font-family: 'Bebas Neue', cursive;
  letter-spacing: 8px;
  background: #b48c56;
  padding: 5px 10px;
  color: #f0f8ff;
  border-radius: 5px;
}



#branch .container .content .box img {
  width: 220px;
}

#branch .container .content .box h1 {
  font-size: 2rem;
  font-family: 'Belleza', sans-serif;
  font-weight: 200;
  text-transform: uppercase;
  letter-spacing: 5px;
  margin-top: 20px;
}

#branch .container .content .box p {
  font-family: 'Bebas Neue', cursive;
  font-size: 1.8rem;
  letter-spacing: 5px;
  color: #b48c56;
  margin-top: 20px;
}

#branch .container .content .box button {
  padding: 6px 10px;
  border: none;
  background: #302725;
  color: #f0f8ff;
  font-family: 'Belleza', sans-serif;
  font-size: 1.2rem;
  cursor: pointer;
  transform: translateY(-10px);
  visibility: hidden;
  transition: all 0.5s ease;
  
}

#branch .container .content .box:hover button {
  transform: translateY(0);
  opacity: 1;
  visibility:  visible;
}






/* ....... ABOUT ......... */

#about .container{
  background: url(imagens/bg5.jpg) no-repeat;
  background-size: 100% 100%;
  width: 100%;
  height: 100vh;
}

#about .container .title{
  width: 70%;
  display: flex;
  align-items: flex-end;
  justify-content: center;
  flex-direction: column;
  padding-top: 100px;
}


#about .container .title .line{
  width: 150px;
  height: 2px;
  background: #b48c56;
}



#about .container .title h1{
  margin-top: 20px;
  text-transform: uppercase;
  font-family:'Bebas Neue', cursive;
  font-size: 2rem;
  font-weight: 200;
  letter-spacing: 15px;
}



#about .container .title .call{
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  position: relative;
  top: 100px;
  left: 200px;
}

#about .container .title .call h2 {
  font-family:'Bebas Neue', cursive;
  font-weight: 200;
  font-size: 2.5rem;
  text-transform: uppercase;
  margin-bottom: 80px;
  letter-spacing: 10px;
  min-width: 500px;
  margin-left: -380px;
  margin-top: -60px
}

#about .container .title .call p {
  font-family: 'Belleza', sans-serif;
  font-size: 1.2rem;
  letter-spacing: 1px;
  min-width: 350px;
  margin-left: -370px;
  
}




#about .container .title .call button {
  margin-top: 40px;
  margin-left: -370px;
  padding: 10px 30px;
  border: none;
  background: #302725;
  color: #f0f8ff;
  font-family: 'Belleza', sans-serif;
  font-size: 0.8rem;
  cursor: pointer;
  transition: all 0.5s ease;
}

#about .container .title .call button:hover {
  transform: scale(1);
  border: 2px solid #302725;
  background: none;
  color: #302725;
  font-weight: 600;
}





/* ....... PRODUCTS ......... */

#products .container {
  background: url(imagens/bg3.png) no-repeat;
  background-size: 100% 100%;
 
  
}


#products .container .title {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}


#products .container .title .line {
  width: 150px;
  height: 2px;
  background: #b48c56;
  margin-right: 70px;
  margin-bottom: 10px;
  
}

#products .container .title h1 {
  font-family: 'Bebas Neue', cursive;
  font-size: 2rem;
  font-weight: 200;
  text-transform: uppercase;
  letter-spacing: 15px;
 margin-bottom: 50px;
 

}


#products .container .card {
  width: 60%;
  height: 80vh;
  margin:  0 auto;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}

#products .container .card .box {
  width: 100%;
  height: 65vh;
  background: rgba(255, 255, 255, 0.5);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
}

#products .container .card .box .icon {
  width: 50px;
  height: 50px;
  background: #302725;
  text-align: center;
  line-height: 80px;
  margin-top: 60px;
  margin-bottom: 90px;
  cursor: pointer;
}

#products .container .card .box .icon ion-icon {
  color: #f0f8ff;
  font-size: 1.6rem;
}


#products .container .card .box img {
  width: 200px;
  margin-top: 40px;

}


#products .container .card .box h1 {
  margin-top: 30px;
  font-family: 'Belleza', sans-serif;
  font-weight: 200;
  text-transform: uppercase;
}


#products .container .card .box p {
  font-family: 'Bebas Neue', cursive;
  font-size: 1.2rem;
  letter-spacing: 3px;
  color: #b48c56;
  margin-top: 15px;
}


.owl-dot{
    width: 15px;
    height: 15px;
    outline: none!important;
    border-radius: 50%;
    border: 3px solid #B48C56!important;
}
.owl-dot.active{
    width: 45px;
    border-radius: 15px;
}




/* ....... TEAM ......... */

#team .container {
  background: url(imagens/bg10.jpg) no-repeat;
  background-size: 100% 100%;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  padding: 0  50px;
  width: 100%;
  height: 100vh;
  
  
}

#team .container .content p{
  font-family: 'Belleza', sans-serif;
  font-size: 1.2rem;
  margin-bottom: 20px;
  text-align: center;
  margin-left: 90px;
  
  
}
#team .container .content h2{
  font-family: 'Bebas Neue', cursive;
  font-weight: 300;
  letter-spacing: 5px;
  margin-bottom: 60px;
  text-align: center;
  
}
#team .container .content .cards{
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  margin-left: 90px;
}
#team .container .content .image img{
  width: 100px;
  height: 100px;
  object-fit: cover;
  border-radius: 50%;
  box-shadow: 0 0 10px rgba(0,0,0,0.8);
  
}
#team .container .content .title h1{
  font-family: 'Bebas Neue', cursive;
  font-weight: 300;
  letter-spacing: 5px;
  margin-left: 30px;
}
#team .container .content .title p{
  font-family: 'Belleza', sans-serif;
  margin-top: 10px;
  margin-left: 10px;
}




/* ....... NEWS ......... */

#news .container{
  background: url(imagens/bg3.png) no-repeat;
  background-size: 100% 100%;
  width: 100%;
  height: 100vh;
  
}
#news .container .title{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
#news .container .title .line{
  width: 150px;
  height: 2px;
  background: #B48C56;
  margin-bottom: 10px;
}
#news .container .title h1{
  margin-top:20px;
  text-transform: uppercase;
  font-family: 'Bebas Neue', cursive;
  font-size: 2rem;
  font-weight: 200;
  letter-spacing: 15px;
  
}
#news .container .content{
  width: 100%;
  height: 60vh;
  display: flex;
  justify-content: space-evenly;
}
#news .container .content .box{
  width: 20%;
  height: 55vh;
  background: rgba(255, 255, 255, 0.5);
  border-radius: 20px;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 160px;
  transition: 0.3s
}
#news .container .content .box h3{
  font-family: 'Bebas Neue', cursive;
  font-size: 1.5rem;
  font-weight: 200;
  letter-spacing: 5px;
  margin-top: 25px;
  margin-bottom: 55px;
  background: #B48C56;
  padding: 5px 20px;
  color: #fff;
}
#news .container .content .box:hover{
  background: rgba(48, 39, 37, 0.9);
  height: 60vh;
}
#news .container .content .box img{
  width: 180px;
}
#news .container .content .box h1{
  font-family: 'Bebas Neue', cursive;
  font-size: 1.5rem;
  font-weight: 200;
  letter-spacing: 5px;
  margin-top: 15px;
  color: #737373;
  
}
#news .container .content .box:hover h1{
  color: #ffffff;
}
#news .container .content .box p{
  font-family: 'Bebas Neue', cursive;
  font-size: 1.2rem;
  font-weight: 600;
  color: #B48C56;
  letter-spacing: 5px;
  margin-top: -3px;
}
#news .container .box button{
  padding: 10px 20px;
  border: none;
  background: #B48C56;
  color: #fff;
  font-family: 'Belleza', sans-serif;
  font-size: 1.2rem;
  margin-top: 50px;
  transform: translateY(-40px);
  opacity: 0;
  visibility: hidden;
  transition: 0.5s;
  cursor: pointer;
}
#news .container .box:hover button{
  transform: translateY(0);
  opacity: 1;
  visibility: visible;
}



/*------------article-------------*/

.container1 {
  height: 100vh;
  width: 100vw;
  max-height: 800px;
  max-width: 1280px;
  min-height: 600px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: 0 auto;
  padding-bottom: 100px;
  }
  
  .border { 
  height: 369px;
  width: 290px;
  background: transparent;
  border-radius: 10px;
  transition: border 1s;
  position: relative;
  
  }
  
  border.hover { 
  border: 1px solid #fff;
  }
  
  .cards {
  display: flex;
  justify-content: center;
  
  }
  .cardi {
  height: 349px;
  width: 300px;
  background: #808080;
  border-radius: 10px;
  transition: background 0.8s;
  overflow: hidden;
  background: #000;
  box-shadow: 0 70px 63px -60px #000;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  }
  
  .cardi0 {
  background: url("imagens/aline.PNG")
  center center no-repeat;
  background-size: 310px;
  }
  
  .cardi0:hover {
  background: url("imagens/aline.PNG")
  left center no-repeat;
  background-size: 600px;
  }
  .cardi0:hover h4 {
  opacity: 1;
  }
  .cardi0:hover .fab {
  opacity: 1;
  }
  
  
  .cardi1 {
  background: url("imagens/ariana.PNG")
  center center no-repeat;
  background-size: 310px;
  }
  .cardi1:hover {
  background: url("imagens/ariana.PNG")
  left center no-repeat;
  background-size: 600px;
  }
  .cardi1:hover h4 {
  opacity: 1;
  }
  .cardi1:hover .fab {
  opacity: 1;
  }
  
  h4  {
  font-family: 'Amatic SC', cursive;
  font-size: 4em;
  color: #fff;
  margin: 20px;
  opacity: 0;
  transition: opacity 1s;
  }

  h5 {
    font-family: 'Amatic SC', cursive;
    font-size: 4em;
    text-align: center;
    padding-top: 200px;
    
  }
  
  
  
  .fab {
  opacity: 0;
  transition: opacity 1s;
  }
  .icons {
  position: absolute;
  fill: #fff;
  color: #fff;
  height: 130px;
  top: 226px;
  width: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  }
  
  

article {
  background: url(imagens/bg3.png) no-repeat;
  }









/*-----------footer--------------*/

#footer .container{
  background: url(image/bg3.png) no-repeat;
  background-size: 100% 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
#footer .container .content{
  width: 90%;
  height: 40vh;
  background:#F2D2A3 ;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
#footer .container .content .left{
  width: 40%;
  margin-left: 60px;
}
#footer .container .content .left h1{
  font-family: 'Bebas Neue', cursive;
  font-size: 2.2rem;
  font-weight: 200;
  padding: 0 20px;
  letter-spacing: 5px;
}
#footer .container .content .left p{
  font-family: 'Belleza', sans-serif;
  font-size: 1.2rem;
  margin-top: 50px;
  padding: 0 20px;
}
#footer .container .content .right{
  width: 40%;
}
#footer .container .content .right input{
  padding: 10px 60px;
  border: none;
  font-family: 'Bebas Neue', cursive;
  letter-spacing: 2px;
  font-size: 1.1rem;
  outline: none;
}
#footer .container .content .right button{
  padding: 10px 35px;
  font-family: 'Bebas Neue', cursive;
  letter-spacing: 2px;
  font-size: 1.1rem;
  border: none;
  background: #302725;
  color: #fff;
  cursor: pointer;
}
#footer .container .info{
  width: 90%;
  height: 20vh;
  display: flex;
  justify-content: space-evenly;
  margin-top: 60px;
}
#footer .container .info .box{
  display: flex;
  flex-direction: column;
}
#footer .container .info .box h1{
  font-family: 'Bebas Neue', cursive;
  letter-spacing: 2px;
  margin-top: 20px;
  margin-bottom: 20px;
}
#footer .container .info .box p{
  font-family: 'Belleza', sans-serif;
  margin-top: 10px;
  color: #737373;
}
#footer .container .info .box a{
  font-family: 'Belleza', sans-serif;
  margin-top: 10px;
  text-decoration: none;
  color: #737373;
}
#footer .container .info .box ion-icon{
  font-size: 1.6rem;
}
#footer .container .info .box ion-icon:hover{
  color: #B48C56;
}
#footer .container .line{
  width: 80%;
  height: 1px;
  background: #B48C56;
  margin-top: 60px;
}
#footer .container .copyright p{
  font-family: 'Belleza', sans-serif;
  margin-top: 25px;
  font-size: 1.1rem;
  letter-spacing: 2px;
  text-transform: uppercase;
  color: #302725;
  margin-bottom: 10px;
  font-weight: bolder;
}







/*-----------RESPONSIVE--------------*/
@media screen and (max-width :1440px) {
  header .menu ul li {
    padding: 0 15px;
  }
  header .menu ul li a {
    font-size: 1.1rem;
  }

  #about .container .title{
    padding-top: 80px;
    
}


#about .container .title .call{
  top: 150px;
}
#news .container .content .box{
  height: 45vh;
}

}

@media screen and (max-width :1024px) {

 /*      header       */

 header{
  background: none;
  justify-content:space-between;
  padding: 0 50px;
}
header .menu{
  display: none;
}
header .menu-mobile{
  display: block;
  width: 350px;
  height: 100vh;
  background: rgba(0, 0, 0, 0.9);
  position: fixed;
  top: 0;
  right: 0;
  
  
}
header .menu-mobile ul{
  display: block;
  padding: 70px;
}
header .menu-mobile ul li{
  list-style: none;
  padding: 40px 0;
  text-align: center;

}
header .menu-mobile ul li a{
  text-decoration: none;
  font-size: 1.3rem;
  font-family: 'Belleza', sans-serif;
  color: #B48C56;
  transition: all 0.3s;
}
header .menu-mobile ul li a:hover{
  color: #F2D2A3;
  text-decoration: underline;
}
header .btn{
  display: block;
  position: fixed;
  right: 40px;
}
header .btn ion-icon{
  color: #ddb06e;
  font-size: 1.5rem;
  cursor: pointer;
}

}




    





